body
{
}
.img{
    height:400px;
    width:300px;
    margin:50px

}
.victims {
    height: 150px;
    width: 100px;
}
.superLuigi{
    height:600px;
    width:400px;
}
.buttons{
    width:50px;
    margin-left:20px
}
.flex{
    display:flex;
    align-items:flex-start;
}
.stylish{
background-color:black;
color:green;
border: solid blue;
width:200px;

}
div.innerbox {
    background-color: white;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    width: 400px;
    border: 3px solid grey;
}